/*
github : https://github.com/deryaxacar/Web-Page-Links
*/

:root {
    /* img */
    --logo-width: 140px;
    --logo-height: 140px;
    --img-width: 95px;
    --img-height: 83px;
    /* font */
    --font-family: Arial, sans-serif;
    --font-size: 1em;
    --blog-font-size: 14px;
    /* color */
    --background-color: #181818;
    --color-white: #fff;
    --color-black: #000000;
    --color-green: #79ffe1;
    --color-grey: rgba(136, 136, 136, 0.5);
    --color-white-grey: rgba(246, 246, 246, 0.362);
    /* soft color */
    --color-soft-black: rgba(0, 0, 0, 0.6);
    --color-soft-grey: rgba(0, 0, 0, 0.2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
    font-weight: normal;
    appearance: none;
    outline: none;
    border-radius: 0;
    background: none;
    border: none;
}

body {
    font-family: Arial, sans-serif;
    height: 100%;
    min-height: 100vh;
    background-color: var(--background-color);
}

::selection {
    background: var(--color-green);
    color: var(--color-black);
}

/* background */
main {
    display: flex;
    justify-content: center;
    position: fixed;
    height: 100%;
    min-height: 100%;
    width: 100%;
    z-index: -2000;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2000;
}

.plate {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    color: var(--color-white);
    letter-spacing: 4px;
    font-size: 0.6em;
    line-height: 2.5;
    z-index: -1;
}

a {
    text-decoration: none;
    appearance: none;
}

.mouse {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    padding: 1rem 0;
    z-index: 2;
    color: var(--color-grey);
    width: 100%;
    letter-spacing: 6px;
    font-size: 0.45em;
    line-height: 2.5;
    text-transform: uppercase;
    transition: all 0.5s ease;
    opacity: 0;
    transform: translateY(-15px);

    &.active {
        transform: none;
        opacity: 1;
    }
}

.text-animation {
    opacity: 0;

    &.active {
        opacity: 1;
    }

    .letter {
        opacity: 0;
        transition: color 0.5s ease, opacity 0.3s ease;
        transform-origin: bottom;
        color: var(--color-white);

        &.active {
            color: var(--color-grey);
            opacity: 1;
            transform: none;
            animation: color 5s ease infinite 3s;
        }
    }
}

@keyframes color {
    0% {
        color: rgba(255, 255, 255, 1);
    }

    20% {
        color: var(--color-grey);
    }

    100% {
        color: var(--color-grey);
    }
}

/* about text */
.scrambled-text {
    font-size: var(--font-size);
    font-family: var(--font-family);
    white-space: pre-wrap;
}

.hidden {
    opacity: 0;
}

/* container */
.hero-container {
    width: 100%;
    min-height: 100vh;
    height: 100%;
}

/* content Codes */
.hero-container .content {
    width: 100%;
    height: 100%;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6vh;
}

.hero-container .content .logo {
    width: var(--logo-width);
    height: var(--logo-height);
    margin-bottom: 20px;
    border-radius: 50%;
}

.hero-container .content h1 {
    color: var(--color-white);
    font-size: 1.9em;
    font-weight: var(--font-weight);
}

/* header 2 */
.typewriter {
    font-size: 1.4em;
    color: var(--color-green);
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 5px;
    letter-spacing: 2px;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.typewriter::after {
    content: "";
    border-right: 3px solid var(--color-green);
    animation: blink 0.6s infinite;
}

.type-div {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

/* nav Codes */
.hero-container nav {
    text-align: center;
    margin-top: 20px;
}

.hero-container nav button {
    margin: 2px;
    padding: 10px 15px;
    font-size: var(--font-size);
    cursor: pointer;
    border: none;
    border-radius: 0px;
    background-color: var(--color-soft-black);
    color: var(--color-white);
    transition: 0.3s;
}

.hero-container nav button:hover {
    background-color: var(--color-black);
    color: var(--color-green);
    transition: 0.3s;
}

/* sub buttons Codes */
.hero-container .sub-buttons {
    margin-top: 20px;
    display: none;
    flex-direction: column;
    align-items: center;
}

/* buton Codes */
.hero-container .sub-buttons button {
    background-color: var(--color-soft-black);
    color: var(--color-white);
    border: none;
    border-radius: 10px;
    width: 70vh;
    padding: 16px;
    font-size: var(--font-size);
    margin: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.hero-container .sub-buttons button:hover {
    background-color: var(--color-black);
    color: var(--color-green);
    transition: 0.3s;
}

.hero-container nav .active {
    background-color: var(--color-black);
    color: var(--color-green);
}

/* textrea Codes */
.hero-container .textrea {
    background-color: var(--color-soft-black);
    color: var(--color-white);
    border: none;
    border-radius: 10px;
    width: 70vh;
    padding: 15px;
    font-size: var(--font-size);
    margin: 5px;
}

/* Blog Codes */
#blog {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--color-grey) var(--color-soft-grey);
    margin-bottom: 40px;
}

.des-blog {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.hero-container .blog-container {
    background-color: var(--color-soft-black);
    color: var(--color-white);
    border: none;
    border-radius: 10px;
    width: 80vh;
    padding: 16px;
    font-size: var(--font-size);
    margin: 5px;
}

.hero-container .blog-content {
    display: flex;
    gap: 15px;
}

.hero-container .blog-img {
    background-size: cover;
    background-color: var(--color-black);
    background-position: center;
    width: var(--img-width);
    height: var(--img-height);
    border-radius: 8px;
}

.blog-img img {
    width: var(--img-width);
    height: var(--img-height);
    border-radius: 8px;
}

.blog-content h4 {
    --s: 0.1em;
    --c: var(--color-green);
    color: #0000;
    margin-bottom: 4px;
    font-size: var(--font-size);
    font-family: var(--font-family);
    text-align: left;
    padding-bottom: var(--s);
    background: linear-gradient(90deg, var(--c) 50%, var(--color-white-grey) 0) calc(100% - var(--_p, 0%)) / 200% 100%,
        linear-gradient(var(--c) 0 0) 0% 100% / var(--_p, 0%) var(--s) no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: 0.5s;
    cursor: pointer;
}

.blog-content h4:hover {
    --_p: 99%;
}

.hero-container .blog-text {
    flex: 1;
    color: var(--color-white);
    font-size: var(--blog-font-size);
    font-family: var(--font-family);
    width: 100%;
    text-align: left;
}

/* blog buttons */
.blog-button {
    background-color: var(--color-soft-black);
    color: var(--color-white);
    border: none;
    border-radius: 8px;
    width: 40%;
    height: auto;
    padding: 6px;
    font-size: 12px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.des-button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.blog-button:hover {
    background-color: var(--color-soft-grey);
    color: var(--color-green);
}

.time {
    display: flex;
    align-items: center;
    color: var(--color-grey);
    font-size: 13px;
    margin-top: 4px;
    gap: 5px;
}

.time i {
    font-size: 10px;
    color: var(--color-grey);
}

/* Footer Codes */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    background-color: var(--color-black);
}

footer p {
    font-size: 13px;
    color: var(--color-white);
}

footer a {
    font-size: 13px;
    color: var(--color-green);
    text-decoration: none;
}

/* menu codes*/
#menu {
    opacity: 0;
    position: absolute;
    left: -9999px;
    top: -9999px;
    pointer-events: none;
    opacity: 0;
}

#menu:checked+.menu-btn>span {
    transform: rotate(45deg);
}

#menu:checked+.menu-btn>span::before {
    top: 0;
    transform: rotate(0deg);
}

#menu:checked+.menu-btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu:checked~.menu-box {
    left: 0 !important;
}

.menu-btn {
    position: fixed;
    top: 25px;
    left: 20px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    z-index: 2000;
}

.menu-btn>span,
.menu-btn>span::before,
.menu-btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--color-white);
    transition-duration: .25s;
}

.menu-btn>span::before {
    content: '';
    top: -8px;
}

.menu-btn>span::after {
    content: '';
    top: 8px;
}

.menu-box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 200px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: var(--color-soft-black);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
    transition-duration: .25s;
    z-index: 1000;
}

.menu-item {
    display: block;
    padding: 12px 24px;
    color: var(--color-white);
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    transition-duration: .25s;
}

.menu-item:hover {
    color: var(--color-green);
    background-color: var(--color-black);
}

/* blog details */
.details {
    color: var(--color-white);
    border: none;
    border-radius: 10px;
    width: 98vw;
    height: 98vh;
    padding: 50px;
    margin-left: 5px;
    font-size: var(--font-size);
    margin: 10px;
}

.details p {
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
    margin-bottom: 1.2rem;
}

.details h2,
h3 {
    margin-top: 2rem;
    color: #222;
}

/* Media Screen */
@media (max-width: 600px) {

    #blog {
        max-height: 100%;
    }

    .hero-container .content .logo {
        width: 100px;
        height: 100px;
    }

    .hero-container .content h1 {
        font-size: 1.5em;
    }

    .hero-container .content h2 {
        font-size: 1.2em;
    }

    .blog-content h4 {
        color: var(--color-green);
        background: none;
        -webkit-background-clip: unset;
        background-clip: unset;
        transition: none;
    }

    .hero-container nav button {
        margin: 5px 3px;
        padding: 8px 12px;
        font-size: 0.9em;
    }

    .hero-container .sub-buttons button {
        width: 90vw;
        margin: 5px 0;
    }

    .hero-container .textrea {
        width: 90vw;
        margin: 5px 0;
    }

    .hero-container .blog-container {
        overflow: hidden;
        box-sizing: border-box;
        width: 90%;
        height: auto;
        padding: 15px;
    }

    .hero-container .blog-content {
        overflow: hidden;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        overflow: hidden;
    }

    .hero-container .blog-img {
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .blog-img img {
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .hero-container .blog-text {
        text-align: left;
        width: 100%;
        max-width: 90vw;
    }

    .des-blog {
        width: 100%;
    }

    .des-blog .blog-button {
        margin-top: 20px;
        border-radius: 10px;
        height: auto;
        width: 100%;
        font-size: var(--font-size);
        padding: 10px;
    }

    .time {
        color: var(--color-grey);
        font-size: 12px;
        margin-top: 6px;
    }

    .details {
        margin: 5px;
        padding: 15px;
        padding-top: 50px;
    }

}